@use 'sass:math';

$mobileBreakpoint: 768px;
$smallBreakpoint: 590px;

.fold {
  width: 100%;

  .info {
    position: absolute;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;

    @media screen and (max-width: $mobileBreakpoint) {
      width: 100%;
      padding: 0 30px;
    }

    h1 {
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 400;
      font-size: 64px;

      @media screen and (max-width: $smallBreakpoint) {
        font-size: 38px;
      }

      span {
        color: var(--button-default-color);
        font-style: italic;
        white-space: nowrap;
      }
    }

    h3 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: var(--secondary-text-color);
      margin-bottom: 48px - 32px;

      @media screen and (max-width: $smallBreakpoint) {
        font-size: 15px;
      }
    }
  }

  .decorationsContainer {
    display: block;
    position: absolute;
    width: 100%;
    height: 300px;
    // tan(10deg) = x/50vw
    // x = 50vw*tan(10deg)
    $katetMmargin: math.tan(10deg);
    $katetHeight: calc(#{$katetMmargin} * 50vw);
    $infoBlockHeight: 340px;
    margin-top: calc(#{$infoBlockHeight} + #{$katetHeight});
    
    @media screen and (max-width: 768px) {
      $mobileInfoBlockHeight: 120px;
      margin-top: calc(#{$mobileInfoBlockHeight} + #{$katetHeight});
    }

    .decorations {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;

      .backgroundContainer {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-top: -100px;

        @media screen and (max-width: $mobileBreakpoint) {
          margin-top: 300px;
        }

        .background {
          display: block;
          width: 200%;
          height: 500px;
          background: #E8F4F5;
          position: absolute;
          transform: rotate(-10deg);
          z-index: -1;
        }
      }

      .dishes {
        width: 100%;
        position: absolute;
        height: 500px;

        @media screen and (max-width: $mobileBreakpoint) {
          margin-top: 100px;
          overflow: hidden;
        }

        .fish,
        .fruit {
          display: block;
          position: absolute;
          height: auto;
          pointer-events: none;
          margin-top: calc(calc(0px - 10vw) - #{$katetHeight});

          @media screen and (max-width: $mobileBreakpoint) {
            margin-top: calc(calc(0px + 20vw) - #{$katetHeight});
          }
        }

        .fish {
          aspect-ratio: 1 / 1;
          width: 35vw; 
          left: 7vw;
          
          @media screen and (max-width: $mobileBreakpoint) {
            left: -30vw;
            width: 80vw;
            // margin-top: -30px;
          }
        }
        
        .fruit {
          aspect-ratio: 608 / 589;
          width: 31vw;
          right: 10vw;

          @media screen and (max-width: $mobileBreakpoint) {
            right: -20vw;
            width: 70vw;
            // margin-top: -30px;
          }
        }
      }
    }
  }
}