@use 'sass:math';

.fold {
  width: 100%;

  .info {
    position: absolute;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;

    h1 {
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 400;
      font-size: 64px;

      span {
        color: var(--button-default-color);
        font-style: italic;
        white-space: nowrap;
      }
    }

    h3 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: var(--secondary-text-color);
      margin-bottom: 48px - 32px;
    }
  }

  .decorationsContainer {
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    // tan(10deg) = x/50vw
    // x = 50vw*tan(10deg)
    $katetMmargin: math.tan(10deg);
    $katetHeight: calc(#{$katetMmargin} * 50vw);
    $infoBlockHeight: 340px;
    margin-top: calc(#{$infoBlockHeight} + #{$katetHeight});

    .decorations {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;

      .background {
        display: block;
        width: 200%;
        height: 500px;
        background: #E8F4F5;
        position: absolute;
        transform: rotate(-10deg);
        z-index: -1;
      }

      .fish,
      .fruit {
        display: block;
        position: absolute;
        height: auto;
        // 1920 / 1080 = 170
        // 1000 / 660 = 120
        // $negativeMargin: calc(0.011px / calc(100vw / 100vh));
        // margin-top: calc(calc(0px - #{$negativeMargin}) - #{$katetHeight});
        pointer-events: none;
        // margin-top: calc(-170px - #{$katetHeight});

        // @media screen and (max-width: 1024px) {
        //   margin-top: calc(-120px - #{$katetHeight});
        // }

        margin-top: calc(calc(0px - 10vw) - #{$katetHeight});
      }

      .fish {
        aspect-ratio: 1 / 1;
        width: 35vw; 
        left: 7vw; 
      }
      
      .fruit {
        aspect-ratio: 608 / 589;
        width: 31vw;
        right: 10vw;
      }
    }
  }
}