@import '@/styles/breakpoints';

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;

  h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;

    @media screen and (max-width: $smallBreakpoint) {
      font-size: 38px;
    }
  }

  h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary-text-color);
    margin-bottom: 48px - 32px;
    margin-top: 32px;

    @media screen and (max-width: $smallBreakpoint) {
      font-size: 15px;
    }
  }
}