.screen {
  display: flex;
  color: var(--primary-text-color);
  width: 100%;
  text-align: center;

  @media screen and (max-width: 768px) {
    margin-top: 52px;
  }

  .leftColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 100%;

    .leftColumnContent {
      display: flex;
      align-items: center;
      flex-direction: column; 
      width: 800px;
      max-width: 100%;

      h1.title {
        font-weight: 400;
        font-size: 44px;

        &, * {
          line-height: 110%;
        }

        @media screen and (max-width: 768px) {
          width: 100%;
          font-size: 26px;
          padding: 0 20px;
        }
      }

      h2.subtitle {
        font-weight: 400;
        color: var(--secondary-text-color);
        font-size: 20px;
        margin-top: 24px;
        line-height: 140%;
        width: 640px;
        max-width: 100%;

        @media screen and (max-width: 768px) {
          width: 100%;
          font-size: 15px;
          padding: 0 20px;
        }
      }

      .screenContent {
        margin-top: 48px;
      }
    }
  }
}