.dialog {
  [class~=MuiDialog-paper] {
    padding: 40px;
    border-radius: 24px;
  }

  .title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 110%;
    text-align: center;
    color: var(--primary-text-color);
    padding: 0;
  }

  .content {
    padding: 0;
    margin-bottom: 40px;

    .description {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      color: var(--secondary-text-color);
      padding: 24px 0 40px 0;
      text-align: center;
    }
  }
}