.button {
  all: unset;
  padding: 20px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Inter';
  font-weight: 500;
  
  &.contained {
    background-color: var(--button-default-color);
    color: #fff;
  
    &:not([disabled]):hover {
      background-color: var(--button-default-color_dimmed);
    }

    &[disabled] {
      background-color: var(--button-default-color_lighten);
      cursor: auto;
    }
  }

  &.ellipsed {
    border-radius: 99px;
    padding: 20px 40px;
  }

  &.text {
    color: var(--button-default-color);
  }
}