.statistics {
  background: #E8F4F5;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;

  .heading {
    display: flex;
    flex-direction: column;
  }

  table {
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.02);
    border-radius: 24px;
    overflow: hidden;
    border-collapse: collapse;
    width: 1200px;
    $margin: 20px;
    max-width: calc(100% - $margin*2);
    margin: 0 $margin;

    tr {
      background: #FFFFFF;
      // padding: 33px 40px;

      &:nth-child(even) {
        background: #F6F6F6;
      }

      td {
        padding: 33px 40px;

        &:first-child {
          padding-right: 0;
        }
      }
    }
  }
}