@use '@/shared/styles/variables.scss' as variables;

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 32px;
  gap: 24px;

  span.icon {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8EBDD;
    border-radius: 32px;
  }

  h3 {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: variables.$primary-text-color;
  }

  p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: variables.$secondary-text-color;
  }
}