.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  gap: 14px;
  max-width: 100%;

  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }

  .current {
    font-style: italic;
    color: inherit;
  }

  .screens {
    width: 100%;
    display: flex;
    gap: 6px;

    .screen {
      border-radius: 9px;
      background-color: var(--inactive-color);
      height: 3px;
      flex: 1;
      
      &.active {
        background-color: var(--active-color);
      }
    }
  }
}