@use 'sass:color';
@use '@/styles/variables.scss' as *;

.button {
  all: unset;
  padding: 20px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Inter';
  font-weight: 500;

  &[disabled] {
    cursor: auto;
  }
  
  &.contained {
    background-color: var(--button-default-color);
    color: #fff;
  
    &:not([disabled]):hover {
      background-color: #{color.scale($button-default-color, $lightness: -20%)};
    }

    &[disabled] {
      background-color: #{color.scale($button-default-color, $saturation: -50%, $lightness: 20%)};
    }
  }

  &.tonal {
    background-color: $button-tonal-background-color;
    color: $button-default-color;
  
    &:not([disabled]):hover {
      background-color: #{color.scale($button-tonal-background-color, $alpha: 20%)};
    }

    &[disabled] {
      background-color: #{color.scale($button-tonal-background-color, $saturation: -50%, $lightness: 20%)};
    }
  }

  &.ellipsed {
    border-radius: 99px;
    padding: 20px 40px;
  }

  &.text {
    color: var(--button-default-color);
  }
}