.appBar {
  padding: 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .mobileDarkTheme {
    @media screen and (max-width: 768px) {
      position: absolute;
      padding: 12px;

      svg path {
        fill: #fff;
      }
    }
  }
}