@use '@/shared/styles/variables.scss' as variables;

$arcThickness: 3px;
$circleSize: 64px;

$arcStartPosition: 90deg;

$circleOutterSize: $circleSize + $arcThickness*2;

.circle,
.arc,
.text {
	margin: 0;
	padding: 0;
}

.circle {
	position: relative;
	margin: 0;
	width: $circleOutterSize; height: $circleOutterSize;
	border-radius: 50%;
	background: variables.$button-default-color;
	overflow: hidden;
  
  .text {
    text-align: center;
    position: absolute;
    color: variables.$button-default-color;
    height: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
		z-index: 2;
		line-height: 100%;
		font-family: 'Inter';
		font-weight: 600;
		font-size: 14px;
  }
}

.circle:before {
	content: '';
	display: block;
	position: relative;
	width: $circleSize; height: $circleSize;
	border-radius: 50%;
	background: #fff;
	top: $arcThickness;
	left: $arcThickness;
	z-index: 1;
}

.arc {
	overflow: hidden;
  width: 50%; height: 50%;
	position: absolute;
	right: 50%; bottom: 50%;
	padding: 5000em 0 0 5000em;
	transform-origin: 100% 100%;

	--arcSkewX: calc(calc(calc(var(--arc-percentage) * 3.6) - 90deg) * -1);
	--arcSkewXfix: calc(var(--arcSkewX) * -1);

	transform: rotateZ($arcStartPosition) rotateX(0deg) skewX(var(--arcSkewX));
	background-color: rgba(244, 234, 228, 1);

	transition: transform 1000ms linear;

	&.halfThrough {
		transform: rotateZ($arcStartPosition) rotateX(180deg) skewX(var(--arcSkewX));
	}
}

.arc:before {
	display: block;
	border: solid $arcThickness rgba(244, 234, 228, 1);
	width: 200%; height: 200%;

	box-sizing: border-box;
	border-radius: 50%;
	transform: skewX(var(--arcSkewXfix));
	content: '';
}
