.genderSelect {
  display: flex;
  flex-direction: row;
  gap: 166px;

  @media screen and (max-width: 768px) {
    width: 100%;
    gap: unset;
    justify-content: space-between;
    padding: 0 10px;

    button {
      width: 45%;

      img {
        max-width: 100%;
        height: auto;   
      }
    }
  }
}