.option {
  all: unset;
  background-color: #F4EAE4;
  padding: 24px;
  border-radius: 16px;
  transition: background-color 150ms ease-in-out;
  cursor: pointer;
  color: #4A6168;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;

  &:focus-visible {
    outline: auto;
  }

  &.selected {
    background-color: rgba(91, 143, 147, 0.25);
    color: #4A6168;
  }

  &.multi {
    justify-content: flex-start;
    gap: 12px;
  }

  .checkmark {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #E3D7CF;
    border-radius: 222px;
    $size: 24px;
    width: $size;
    height: $size;
    display: block;

    .check {
      width: $size;
      display: flex;
      opacity: 0;
      transition: opacity 120ms ease-in-out;
    }

    &.checked {
      .check {
        opacity: 1;
      }
    }
  }
}